<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2026 Jesse Dylan Mahoney (何孟維)
  Distributed under the terms of the GNU General Public License v3.0
-->
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Jellyfin Tray Control</vendor>
  <vendor_url>https://github.com/monway/jellyfin-tray-control</vendor_url>

  <action id="org.jellyfin.service.manage">
    <description>Manage Jellyfin Media Server Service</description>
    <message>Authentication is required to control Jellyfin Server</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/bin/systemctl</annotate>
  </action>
</policyconfig>
